// FOOTER::START
footer.footer
  .container
    .row
      .hidden-md-down.col-lg-2
      .col-md-12.col-lg-10
        .row
          .col-sm-8
            .footer__navi
              a(href="#") О проекте
              a(href="#") Реклама
              a(href="#") Спецпроекты
              a(href="#") iOS и Android
            .footer__navi
              a(href="#") secret@vc.ru
              a(href="#") Карта сайта
              a(href="#") Вакансии
              a(href="#") ИД «Комитет»
          .col-sm-4.text-sm-right
            a(href='#').footer__alert
              i.ico.ico-alert
              span Включить уведомления

            .footer__socials
              a(href='#')
                i.ico.ico-gplus
              a(href='#')
                i.ico.ico-twitter
              a(href='#')
                i.ico.ico-vk
              a(href='#')
                i.ico.ico-fb
              a(href='#')
                i.ico.ico-rss
              a(href='#')
                i.ico.ico-ok


        .row
          .col-sm-12.text-xs-center
            .footer__copy © RusTurkey. Копирайт 2016. Все права защишены


// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/slick-carousel/slick/slick.min.js")
script(src="js/main.js")
//endbuild
