// BANNER::START
section.topBanner
  .container
    .row
      .col-sm-12.text-xs-center
        img(src="images/topBanner@2x.png")


// HEADER

header.header
  .container
    .row
      .col-xs-12.text-xs-center
        a(href="#")
          i.ico.ico-logo
        .header__searchbar
          input.form-control(type="text")
        a(href='#').header__login
          i.ico.ico-login
          span Войти <br> на сайт
        .header__navi.hidden-lg-up
          i.ico.ico-hamb
          span Наши <br> рубрики
          .header__navi__drop
