doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // OWL DESKTOP::START
    section.topCarousel.hidden-xs-down
      #owlTop
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает

    // CONTENT::START
    section.content
      .container
        .row
          .hidden-md-down.col-lg-2
            .content__menu
              ul
                li
                  a(href="#") Главное
                li
                  a(href="#") Россия
                li
                  a(href="#") Мир
                li
                  a(href="#") Бывший СССР
                li.have-ul
                  a(href="#") Финансы
                  ul
                    li
                      a(href="#") Бизнес
                    li
                      a(href="#") Силовые структуры
                    li
                      a(href="#") Наука и техника
                    li
                      a(href="#") Культура
                    li
                      a(href="#") Спорт
                    li
                      a(href="#") Интернет и СМИ
                    li
                      a(href="#") Ценности
                    li
                      a(href="#") Путешествия

                li
                  a(href="#") Бизнес
                li
                  a(href="#") Силовые структуры
                li
                  a(href="#") Наука и техника
                li
                  a(href="#") Культура
                li
                  a(href="#") Спорт
                li
                  a(href="#") Интернет и СМИ
                li
                  a(href="#") Путешествия
                li
                  a(href="#") Путешествия
                li
                  a(href="#") Из жизни
                li.active
                  a(href="#") Хорошие новости
                li
                  a(href="#") Мотор
                li
                  a(href="#") Дом
                li
                  a(href="#") Статьи
                li
                  a(href="#") Галереи
                li
                  a(href="#") Спецпроекты

          .col-sm-8.col-lg-7.no-pad-r
            // cards
            .content__card.content__card--wide
              img(src="images/heroPic.png").img-fluid
              .content__card__copy Copywrite SomeCo 2016 - Sergey K
              .content__card__title При столкновении автозака, фуры и легковой машины пострадал
              .content__card__intro
                p Перераспределение бюджета стабилизирует рекламный макет. Креатив  планирование отталкивает потребительский конкурент.
              .content__card__info
                a(href="#") Sarah Karlan
                span • 5 hours ago
              .content__card__comments
                span 12 комментариев

            // OWL DESKTOP::START
            section.topCarousel.hidden-sm-up
              #owlTopMobile
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает
                .topCarousel__card
                  a(href="#")
                    img(src="http://placehold.it/130x130")
                    span Стратегическое планирование отталкивает

            // card
            .content__card
              .content__card__image
                img(src="images/cardPic-1@2x.png").img-fluid
              .content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
              .content__card__content
                .content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                .content__card__intro
                  p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                  a(href="#") Sarah Karlan
                  span • 5 hours ago

            .content__card
              .content__card__image
                img(src="images/cardPic-1@2x.png").img-fluid
              .content__card__title.hidden-sm-up Тактический медиавес в XXI веке
              .content__card__content
                .content__card__title.hidden-xs-down Тактический медиавес в XXI веке
                .content__card__intro
                  p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                  a(href="#") Sarah Karlan
                  span • 5 hours ago

          //sidebar
          .col-sm-4.col-lg-3.no-pad-l
            .content__sidebar.content__sidebar--top
              .content__sidebar__metrics.text-xs-center
                .content__sidebar__metricCurrency
                  span USD 59.3
                  i.ico.ico-growth-up
                .content__sidebar__metricCurrency
                  span EUR 63.12
                  i.ico.ico-growth-down

              .content__sidebar__metrics
                .content__sidebar__metricWeather
                  span Погода в <b>Анталии</b>
                  .content__sidebar__metricWeather__row
                    .content__sidebar__metricWeather__left
                      i.ico.ico-weather-rain
                    .content__sidebar__metricWeather__right
                      span +31 C
                      p Временами дожди

              .content__sidebar__metrics
                .content__sidebar__metricWeather
                  span Погода в <b>Стамбуле</b>
                  .content__sidebar__metricWeather__row
                    .content__sidebar__metricWeather__left
                      i.ico.ico-weather-rain
                    .content__sidebar__metricWeather__right
                      span +31 C
                      p Временами дожди

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-1@2x.png").img-fluid

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-2@2x.png").img-fluid


    //CATEGORIES
    section.categories
      .container
        .row
          .hidden-md-down.col-lg-2
          .col-md-12.col-lg-10
            .row
              .col-md-12.col-lg-4
                .categories__name
                  i.ico.ico-cat-news
                  span Последнее
                ul.categories__list
                  li
                    a(href="#") Правда, специалисты отмечают, что стимул
                  li
                    a(href="#") Сущность и концепция маркетинговой
                  li
                    a(href="#") Управление брендом трансформирует
                  li
                    a(href="#") Воздействие на потребителя развивает
                  li
                    a(href="#") Рекламная заставка, суммируя приведенные
                  li
                    a(href="#") Маркетингово-ориентированное издание
                  li
                    a(href="#") Тактика выстраивания отношений

                a(href="#").categories__more Все материалы

              .col-md-12.col-lg-4
                .categories__name
                  i.ico.ico-cat-hot
                  span Популярное
                ul.categories__list
                  li
                    a(href="#") Правда, специалисты отмечают, что стимул
                  li
                    a(href="#") Сущность и концепция маркетинговой
                  li
                    a(href="#") Управление брендом трансформирует
                  li
                    a(href="#") Воздействие на потребителя развивает
                  li
                    a(href="#") Рекламная заставка, суммируя приведенные
                  li
                    a(href="#") Маркетингово-ориентированное издание
                  li
                    a(href="#") Тактика выстраивания отношений

                a(href="#").categories__more Все материалы

              .col-md-12.col-lg-4
                .categories__name
                  i.ico.ico-cat-turkey
                  span Полезное о Турции
                ul.categories__list
                  li
                    a(href="#") Правда, специалисты отмечают, что стимул
                  li
                    a(href="#") Сущность и концепция маркетинговой
                  li
                    a(href="#") Управление брендом трансформирует
                  li
                    a(href="#") Воздействие на потребителя развивает
                  li
                    a(href="#") Рекламная заставка, суммируя приведенные
                  li
                    a(href="#") Маркетингово-ориентированное издание
                  li
                    a(href="#") Тактика выстраивания отношений

                a(href="#").categories__more Все материалы


    // CONTENT::START
    section.content
      .container
        .row
          .hidden-md-down.col-lg-2

          .col-sm-8.col-lg-7.no-pad-r
            // cards
            .content__card.content__card--wide
              img(src="images/heroPic.png").img-fluid
              .content__card__copy Copywrite SomeCo 2016 - Sergey K
              .content__card__title При столкновении автозака, фуры и легковой машины пострадал
              .content__card__intro
                p Перераспределение бюджета стабилизирует рекламный макет. Креатив  планирование отталкивает потребительский конкурент.
              .content__card__info
                a(href="#") Sarah Karlan
                span • 5 hours ago
              .content__card__share
                span Поделиться

            // card
            .content__card
              .content__card__image
                img(src="images/cardPic-1@2x.png").img-fluid
              .content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
              .content__card__content
                .content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                .content__card__intro
                  p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                  a(href="#") Sarah Karlan
                  span • 5 hours ago

            .content__card
              .content__card__image
                img(src="images/cardPic-1@2x.png").img-fluid
              .content__card__title.hidden-sm-up Тактический медиавес в XXI веке
              .content__card__content Тактический медиавес в XXI веке
                .content__card__title.hidden-xs-down Тактический медиавес в XXI веке
                .content__card__intro
                  p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                  a(href="#") Sarah Karlan
                  span • 5 hours ago

          //sidebar
          .col-sm-4.col-lg-3.no-pad-l.hidden-xs-down
            .content__sidebar

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-3@2x.png").img-fluid

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-4@2x.png").img-fluid

    //CARDS
    section.bottomCards
      .container
        .row
          .hidden-md-down.col-lg-2
          .col-md-12.col-lg-10
            .row
              .col-sm-12.text-xs-center
                .bottomCards__heading  Популярные материалы
              .col-sm-4.col-lg-3
                .bottomCards__card
                  img(src="http://placehold.it/220x140").img-fluid
                  a(href="#").bottomCards__card__title Кейс из России: Оптимизация работы складов при помощи фитнес-браслетов и нейронных сетей
              //card
              .col-sm-4.col-lg-3
                .bottomCards__card
                  img(src="http://placehold.it/220x140").img-fluid
                  a(href="#").bottomCards__card__title SEO-специалисты <br> должны доказать редакции, что они не идиоты»: особенности <br> SEO для СМИ
              //card
              .hidden-xs-down.col-sm-4.col-lg-3
                .bottomCards__card
                  img(src="http://placehold.it/220x140").img-fluid
                  a(href="#").bottomCards__card__title Почему сервис для заказа похорон Umer в России обречён на <br> главреда журнала «Археология русской смерти»
              //card
              .hidden-md-down.col-lg-3
                .bottomCards__card
                  img(src="http://placehold.it/220x140").img-fluid
                  a(href="#").bottomCards__card__title Scrum Time — система управления проектами по методологии Scrum

    //CARDS
    section.bottomCards.bottomCards--whiteBg
      .container
        .row
          .hidden-md-down.col-lg-2
          .col-md-12.col-lg-10
            .row
              .col-sm-12.text-xs-center
                .bottomCards__heading  Партнерские материалы
              .col-sm-4.col-lg-3
                .bottomCards__card
                  img(src="http://placehold.it/220x140").img-fluid
                  a(href="#").bottomCards__card__title Кейс из России: Оптимизация работы складов при помощи фитнес-браслетов и нейронных сетей
              //card
              .col-sm-4.col-lg-3
                .bottomCards__card
                  img(src="http://placehold.it/220x140").img-fluid
                  a(href="#").bottomCards__card__title SEO-специалисты <br> должны доказать редакции, что они не идиоты»: особенности <br> SEO для СМИ
              //card
              .hidden-xs-down.col-sm-4.col-lg-3
                .bottomCards__card
                  img(src="http://placehold.it/220x140").img-fluid
                  a(href="#").bottomCards__card__title Почему сервис для заказа похорон Umer в России обречён на <br> главреда журнала «Археология русской смерти»
              //card
              .hidden-md-down.col-lg-3
                .bottomCards__card
                  img(src="http://placehold.it/220x140").img-fluid
                  a(href="#").bottomCards__card__title Scrum Time — система управления проектами по методологии Scrum

    include shared/footer.pug
