doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // OWL DESKTOP::START
    section.topCarousel.hidden-xs-down
      #owlTop
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает

    // CONTENT::START
    section.content
      .container
        .row
          .hidden-md-down.col-lg-2
            .content__menu
              ul
                li
                  a(href="#") Главное
                li
                  a(href="#") Россия
                li
                  a(href="#") Мир
                li
                  a(href="#") Бывший СССР
                li.have-ul
                  a(href="#") Финансы
                  ul
                    li
                      a(href="#") Бизнес
                    li
                      a(href="#") Силовые структуры
                    li
                      a(href="#") Наука и техника
                    li
                      a(href="#") Культура
                    li
                      a(href="#") Спорт
                    li
                      a(href="#") Интернет и СМИ
                    li
                      a(href="#") Ценности
                    li
                      a(href="#") Путешествия

                li
                  a(href="#") Бизнес
                li
                  a(href="#") Силовые структуры
                li
                  a(href="#") Наука и техника
                li
                  a(href="#") Культура
                li
                  a(href="#") Спорт
                li
                  a(href="#") Интернет и СМИ
                li
                  a(href="#") Путешествия
                li
                  a(href="#") Путешествия
                li
                  a(href="#") Из жизни
                li.active
                  a(href="#") Хорошие новости
                li
                  a(href="#") Мотор
                li
                  a(href="#") Дом
                li
                  a(href="#") Статьи
                li
                  a(href="#") Галереи
                li
                  a(href="#") Спецпроекты

          .col-sm-8.col-lg-7.no-pad-r
            // cards
            .content__card.content__card--inner.content__card--wide
              .content__card__title При столкновении автозака, фуры и легковой машины пострадал и девять человек
              .content__card__info
                a(href="#") Sarah Karlan
                span • 5 hours ago
              .content__card__crumbs
                a(href="#") Главная
                span.crumb-seprator -
                a(href="#") Статьи
                span.crumb-seprator -
                span.current При столкновениии автозаказ, фуры

              .content__card__share
                span Поделиться
              img(src="images/heroPic.png").img-fluid
              .content__card__pageContent
                p Ретроконверсия национального наследия многопланово восстанавливает SWOT-анализ. Изменение глобальной стратегии позитивно ускоряет product placement. Согласно ставшей уже классической работе Филипа Котлера, конкурентоспособность программирует креативный бренд. Стоит отметить, что медиамикс уравновешивает пак-шот. Интересно отметить, что конкурентоспособность нейтрализует рейтинг.
                p Перераспределение бюджета охватывает план размещения, используя опыт предыдущих кампаний. Ретроконверсия национального наследия искажает из ряда вон выходящий пул лояльных изданий. Концепция развития, как следует из вышесказанного, существенно притягивает межличностный conversion rate. А вот по стабилизирует сублимированный процесс стратегического планирования, отвоевывая рыночный сегмент. Отсюда естественно следует, что медийный канал подсознательно допускает эмпирический conversion rate.

                h2 Заголовок H2
                p Ретроконверсия национального наследия многопланово восстанавливает SWOT-анализ. Изменение глобальной стратегии позитивно ускоряет product placement. Согласно ставшей уже классической работе Филипа Котлера, конкурентоспособность программирует креативный бренд. Изменение
                a(href="#") Показать еще

                h3 Загаловок h3
                p Ретроконверсия национального наследия многопланово восстанавливает SWOT-анализ. Изменение глобальной стратегии позитивно ускоряет product placement. Согласно ставшей уже классической работе  программирует креативный бренд. Стоит отметить, что медиамикс уравновешивает пак-шот. Интересно отметить, что конкурентоспособность нейтрализует рейтинг.

                h3 Список 1
                ul
                  li Ретроконверсия национального наследия многопланово восстанавливает Изменение глобальной стратегии позитивно ускоряет product placement.
                  li Согласно ставшей уже классической работе Филипа Котлера, Конкурентоспособность программирует креативный бренд.
                  li Изменение глобальной стратегии позитивно ускоряет
                  li Согласно ставшей уже классической работе Филипа Котлера, Конкурентоспособность программирует креативный бренд.

                .row
                  .col-sm-4
                    img(src="images/newsContentPic.png").img-fluid
                  .col-sm-8
                    p Ретроконверсия национального наследия многопланово восстанавливает SWOT-анализ. Изменение глобальной стратегии позитивно ускоряет product placement. Согласно ставшей уже классической работе Филипа Котлера, конкурентоспособность

                h3 Список 1
                ol
                  li Ретроконверсия национального наследия многопланово восстанавливает Изменение глобальной стратегии позитивно ускоряет product placement.
                  li Согласно ставшей уже классической работе Филипа Котлера, Конкурентоспособность программирует креативный бренд.
                  li Изменение глобальной стратегии позитивно ускоряет
                  li Согласно ставшей уже классической работе Филипа Котлера, Конкурентоспособность программирует креативный бренд.

                table.table
                  tr
                    td Название
                    td Цена
                  tr
                    td Конкурентоспособность программирует креативный бренд.
                    td 20 000 руб

                blockquote
                  p Ретроконверсия национального наследия многопланово восстанавливает SWOT-анализ. Изменение глобальной стратегии позитивно ускоряет product placement. Согласно ставшей уже классической работе Филипа Котлера, конкурентоспособность программирует креативный бренд.

              .content__card__share
                span Поделиться


              // Comment section
              .contentComments
                h2 Комментарии

                form.contentComments__post
                  img(src="images/comment-1.png").img-fluid
                  .form-group
                    label Сообщение
                    textarea.form-control()
                  button(type="submit").btn Отправить

                .contentComments__card
                  img(src="images/comment-1.png").img-fluid
                  .contentComments__card__content
                    b
                      a Егор
                      span -  12 сентября 2016
                    p Метод изучения рынка, анализируя результаты рекламной кампании, стабилизирует рыночный опрос. Разработка медиаплана, согласно Ф.Котлеру, стабилизирует межличностный
                    .contentComments__card__child
                      img(src="images/comment-1.png").img-fluid
                      p Метод изучения рынка, анализируя результаты рекламной кампании, стабилизирует рыночный опрос. Разработка медиаплана, согласно Ф.Котлеру, стабилизирует межличностный
                    .contentComments__card__child
                      img(src="images/comment-1.png").img-fluid
                      p Метод изучения рынка, анализируя результаты рекламной кампании, стабилизирует рыночный опрос. Разработка медиаплана, согласно Ф.Котлеру, стабилизирует межличностный
                    .contentComments__card__child
                      img(src="images/comment-1.png").img-fluid
                      textarea(placeholder="напишите ответ")

                //next comment
                .contentComments__card
                  img(src="images/comment-1.png").img-fluid
                  .contentComments__card__content
                    b
                      a Егор
                      span -  12 сентября 2016
                    p Метод изучения рынка, анализируя результаты рекламной кампании, стабилизирует рыночный опрос. Разработка медиаплана, согласно Ф.Котлеру, стабилизирует межличностный

          //sidebar
          .col-sm-4.col-lg-3.no-pad-l
            .content__sidebar.content__sidebar--top
              .content__sidebar__metrics.text-xs-center
                .content__sidebar__metricCurrency
                  span USD 59.3
                  i.ico.ico-growth-up
                .content__sidebar__metricCurrency
                  span EUR 63.12
                  i.ico.ico-growth-down

              .content__sidebar__metrics
                .content__sidebar__metricWeather
                  span Погода в <b>Анталии</b>
                  .content__sidebar__metricWeather__row
                    .content__sidebar__metricWeather__left
                      i.ico.ico-weather-rain
                    .content__sidebar__metricWeather__right
                      span +31 C
                      p Временами дожди

              .content__sidebar__metrics
                .content__sidebar__metricWeather
                  span Погода в <b>Стамбуле</b>
                  .content__sidebar__metricWeather__row
                    .content__sidebar__metricWeather__left
                      i.ico.ico-weather-rain
                    .content__sidebar__metricWeather__right
                      span +31 C
                      p Временами дожди

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-1@2x.png").img-fluid

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-2@2x.png").img-fluid

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-3@2x.png").img-fluid

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-4@2x.png").img-fluid


    include shared/footer.pug
