doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // OWL DESKTOP::START
    section.topCarousel.hidden-xs-down
      #owlTop
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает
        .topCarousel__card
          a(href="#")
            img(src="http://placehold.it/130x130")
            span Стратегическое планирование отталкивает

    // CONTENT::START
    section.content.separatorCards
      .container
        .row
          .hidden-md-down.col-lg-2
            .content__menu
              ul
                li
                  a(href="#") Главное
                li
                  a(href="#") Россия
                li
                  a(href="#") Мир
                li
                  a(href="#") Бывший СССР
                li.have-ul
                  a(href="#") Финансы
                  ul
                    li
                      a(href="#") Бизнес
                    li
                      a(href="#") Силовые структуры
                    li
                      a(href="#") Наука и техника
                    li
                      a(href="#") Культура
                    li
                      a(href="#") Спорт
                    li
                      a(href="#") Интернет и СМИ
                    li
                      a(href="#") Ценности
                    li
                      a(href="#") Путешествия

                li
                  a(href="#") Бизнес
                li
                  a(href="#") Силовые структуры
                li
                  a(href="#") Наука и техника
                li
                  a(href="#") Культура
                li
                  a(href="#") Спорт
                li
                  a(href="#") Интернет и СМИ
                li
                  a(href="#") Путешествия
                li
                  a(href="#") Путешествия
                li
                  a(href="#") Из жизни
                li.active
                  a(href="#") Хорошие новости
                li
                  a(href="#") Мотор
                li
                  a(href="#") Дом
                li
                  a(href="#") Статьи
                li
                  a(href="#") Галереи
                li
                  a(href="#") Спецпроекты

          .col-sm-8.col-lg-7.no-pad-r
            // don't miss that class
            .innerWrapper
              h1 Поиск
              .searchbar
                input(type="text" value="Жизнь в турции")
                button(type="submit").btn Поиск

              // card
              .content__card
                .content__card__image
                  a(href="#")
                    img(src="images/cardPic-1@2x.png").img-fluid
                a(href="#").content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
                .content__card__content
                  a(href="#").content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                  .content__card__intro
                    p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                    a(href="#") Sarah Karlan
                    span • 5 hours ago
              //card
              .content__card
                .content__card__image
                  a(href="#")
                    img(src="images/cardPic-1@2x.png").img-fluid
                a(href="#").content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
                .content__card__content
                  a(href="#").content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                  .content__card__intro
                    p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                    a(href="#") Sarah Karlan
                    span • 5 hours ago
              // card
              .content__card
                .content__card__image
                  a(href="#")
                    img(src="images/cardPic-1@2x.png").img-fluid
                a(href="#").content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
                .content__card__content
                  a(href="#").content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                  .content__card__intro
                    p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                    a(href="#") Sarah Karlan
                    span • 5 hours ago
              //card
              .content__card
                .content__card__image
                  a(href="#")
                    img(src="images/cardPic-1@2x.png").img-fluid
                a(href="#").content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
                .content__card__content
                  a(href="#").content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                  .content__card__intro
                    p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                    a(href="#") Sarah Karlan
                    span • 5 hours ago
              // card
              .content__card
                .content__card__image
                  a(href="#")
                    img(src="images/cardPic-1@2x.png").img-fluid
                a(href="#").content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
                .content__card__content
                  a(href="#").content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                  .content__card__intro
                    p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                    a(href="#") Sarah Karlan
                    span • 5 hours ago
              //card
              .content__card
                .content__card__image
                  a(href="#")
                    img(src="images/cardPic-1@2x.png").img-fluid
                a(href="#").content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
                .content__card__content
                  a(href="#").content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                  .content__card__intro
                    p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                    a(href="#") Sarah Karlan
                    span • 5 hours ago
              // card
              .content__card
                .content__card__image
                  a(href="#")
                    img(src="images/cardPic-1@2x.png").img-fluid
                a(href="#").content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
                .content__card__content
                  a(href="#").content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                  .content__card__intro
                    p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                    a(href="#") Sarah Karlan
                    span • 5 hours ago
              //card
              .content__card
                .content__card__image
                  a(href="#")
                    img(src="images/cardPic-1@2x.png").img-fluid
                a(href="#").content__card__title.hidden-sm-up Почему основан на анализе телесмотрения побочный
                .content__card__content
                  a(href="#").content__card__title.hidden-xs-down Почему основан на анализе телесмотрения побочный
                  .content__card__intro
                    p А вот по мнению аналитиков маркетинговая коммуникация рынок. Поведенческий таргетинг основан на тщательном анализе данных. Формата вот по мнению
                    a(href="#") Sarah Karlan
                    span • 5 hours ago

              .pagination
                a(href="") 1
                a(href="") 2
                a(href="") 3
                a(href="") 4
                a(href="").last
                  i.ico.ico-paginate-next

          //sidebar
          .col-sm-4.col-lg-3.no-pad-l
            .content__sidebar.content__sidebar--top
              .content__sidebar__metrics.text-xs-center
                .content__sidebar__metricCurrency
                  span USD 59.3
                  i.ico.ico-growth-up
                .content__sidebar__metricCurrency
                  span EUR 63.12
                  i.ico.ico-growth-down

              .content__sidebar__metrics
                .content__sidebar__metricWeather
                  span Погода в <b>Анталии</b>
                  .content__sidebar__metricWeather__row
                    .content__sidebar__metricWeather__left
                      i.ico.ico-weather-rain
                    .content__sidebar__metricWeather__right
                      span +31 C
                      p Временами дожди

              .content__sidebar__metrics
                .content__sidebar__metricWeather
                  span Погода в <b>Стамбуле</b>
                  .content__sidebar__metricWeather__row
                    .content__sidebar__metricWeather__left
                      i.ico.ico-weather-rain
                    .content__sidebar__metricWeather__right
                      span +31 C
                      p Временами дожди

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-1@2x.png").img-fluid

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-2@2x.png").img-fluid

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-3@2x.png").img-fluid

              .content__sidebar__banner
                a(href="#")
                  img(src="images/sidebarBanner-4@2x.png").img-fluid


    include shared/footer.pug
